 <!-- Diagram 1 -->
<!-- <div class="container">

<h1>{{totalPoints || "No data Found"}}</h1>
<div>
  <P>Countdown: {{ countdown }}</P>
</div>
 <div class="circle-one" [class.activebg]="selectedValue=='1'" (click)="getValue('1',$event)">
  <p>1</p>
  <div class="blue">
    <div class="blue1" [class.activebg]="selectedValue=='8'" (click)="getValue('8',$event)"></div>
    <div class="blue2" (click)="getValue('8',$event)"></div>
  </div>
 
  <div class="circle-two" [class.activebg]="selectedValue=='2'" (click)="getValue('2',$event)">
    <p>2</p>
    <div class="circle-three" [class.activebg]="selectedValue=='3'" (click)="getValue('3',$event)">
      <p>3</p>
      <div class="circle-four" [class.activebg]="selectedValue=='4'" (click)="getValue('4',$event)">
        <p>4</p>
        <div class="circle-five" [class.activebg]="selectedValue=='5'" (click)="getValue('5',$event)">
          <p>5</p>
          <div class="circle-six" [class.activebg]="selectedValue=='6'" (click)="getValue('6',$event)">
            
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>


 series of Points  -->
 <!-- <div class="bg-light d-flex">
  <li *ngFor="let items of pointsArray">
    {{items.Pointvalue}}
  </li>
</div>
</div> --> 
<app-todolist></app-todolist>


