<!-- <h1>Slider Here</h1> -->
 <!-- <div class="">
<div class="left-container">
<carousel  >
    <slide *ngFor="let slide of slides">
       
    <img   [src]="slide.image" alt="Slide">

    </slide>
  </carousel> 
</div> 
 <div class=" felx-custom">
<carousel #carousel [interval]="interval" show-navigation="false" (activeSlideChange)="onSlideChange($event)">
  <slide *ngFor="let slide of slides">
    <div class="slide-image-container">
      <img #imgsrc [src]="slide.image" >
    </div>
  </slide>
</carousel>
<div class="right-container">
  <div class="container-small" *ngFor="let slide of slides; let i = index" >
    <img class="small-img" (click)="selectImage(i)"   [src]="slide.image" alt="Slide">
  </div>  
</div> 
 </div>   -->

<!-- HTMl of Select Box -->
  <!-- <div class="select-box">
  <select>
    
    <option value="" selected disabled>Select an option</option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  
  </select>
</div>  -->

<!-- HTml of Radio Button -->
 <!-- <div class="d-flex gap-27">

<div>
  <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">HTML</label><br>
</div>
<div>
  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="css">CSS</label><br>
</div>
<div>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript">
  <label for="javascript">JavaScript</label>
</div>
  <br>  
</div>  -->
<!-- <div class="p-5">
<div class="radio-item">
  <input type="radio" id="ritema" name="ritem" value="ropt1">
  <label for="ritema">Option 1</label>
</div>

<div class="radio-item">
  <input type="radio" id="ritemb" name="ritem" value="ropt2">
  <label for="ritemb">Option 2</label>
</div>
</div> -->
<div class="custom-container">
  <div class="custom-content">
     <div class="">
<div class="left-container">
<carousel  >
    <slide *ngFor="let slide of slides">
       
    <img   [src]="slide.image" alt="Slide">

    </slide>
  </carousel> 
</div> 
 <div class=" felx-custom">
<carousel #carousel [interval]="interval" show-navigation="false" (activeSlideChange)="onSlideChange($event)">
  <slide *ngFor="let slide of slides">
    <div class="slide-image-container">
      <img #imgsrc [src]="slide.image" >
    </div>
  </slide>
</carousel>
<div class="right-container">
  <div class="container-small" *ngFor="let slide of slides; let i = index" >
    <img class="small-img" (click)="selectImage(i)"   [src]="slide.image" alt="Slide">
  </div>  
</div> 
 </div>  

<!-- HTMl of Select Box -->
  <!-- <div class="select-box">
  <select>
    
    <option value="" selected disabled>Select an option</option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  
  </select>
</div>  -->

 <!-- HTml of Radio Button --> 
 <!-- <div class="d-flex gap-27">

<div>
  <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">HTML</label><br>
</div>
<div>
  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="css">CSS</label><br>
</div>
<div>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript">
  <label for="javascript">JavaScript</label>
</div>
  <br>  
</div> 
<div class="p-5">
<div class="radio-item">
  <input type="radio" id="ritema" name="ritem" value="ropt1">
  <label for="ritema">Option 1</label>
</div>

<div class="radio-item">
  <input type="radio" id="ritemb" name="ritem" value="ropt2">
  <label for="ritemb">Option 2</label>
</div>
</div>  -->
  </div>
</div>
